@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap%27");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: #f2ebd3;
}

body {
  background-color: #14bdac;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GRID */

#grid {
  margin-top: 1em;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#logger p {
  margin: 2em 0;
  font-size: 20px;
}

.cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 12px solid#0DA192;
  border-right: 12px solid #0da192;
  font-size: 80px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(n + 7) {
  border-bottom: none;
}

.cell.highlight {
  z-index: -1;
  animation: highlightCell 1.15s infinite;
  background-color: rgba(255, 255, 255, 0.1);
}

.cell.otherColor {
  color: #545454;
}

button {
  font-size: 16px;
  margin-top: 3em;
  width: 120px;
  height: 50px;
  border-radius: 2em;
  cursor: pointer;
  background: #0da192;
  border: none;
}

@keyframes highlightCell {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  #grid {
    width: 270px;
    height: 270px;
  }
  .cell {
    font-size: 50px;
    border-bottom: 8px solid#0DA192;
    border-right: 8px solid #0da192;
  }
}
